useDynLib( "bmixture" )

importFrom( "graphics", "hist", "legend", "lines", "par", "plot" )
importFrom( "stats", "dgamma", "dnorm", "rbeta", "rgamma", "rmultinom", 
            "rt", "dt", "rnorm", "runif", "sd", "var" )
importFrom( "utils", "flush.console" )

useDynLib( bmixture, .registration = TRUE )

export( bmixgamma,
		bmixnorm,
		bmixt,
		
		rmixgamma,
		dmixgamma,
		
		rmixnorm,
		dmixnorm,
		
		rmixt,
		dmixt,
		
		rdirichlet,

		summary.bmixgamma,
		plot.bmixgamma, 
		print.bmixgamma, 

		summary.bmixnorm,
		plot.bmixnorm, 
		print.bmixnorm, 

		summary.bmixt,
		plot.bmixt, 
		print.bmixt
	   )

S3method( "summary", "bmixgamma" )
S3method( "plot",    "bmixgamma" )
S3method( "print",   "bmixgamma" )
S3method( "summary", "bmixnorm" )
S3method( "plot",    "bmixnorm" )
S3method( "print",   "bmixnorm" )
S3method( "summary", "bmixt" )
S3method( "plot",    "bmixt" )
S3method( "print",   "bmixt" )
